#margin_02 {
    margin: 0.2;
}

#radiobutton {
    font-size: 13pt;
    margin: 0.2;
}

#textarea {
    margin: 0;
    margin-top: 15;
    font-size: 15pt;
}

#evaluation_header {
    font-family: Times New Roman; 
    font-weight: bold;
}

hr {
    margin: 0;
}

#evaluation_title {
    font-family: Times New Roman; 
    font-weight: bold; 
    text-align: center;
}

#evaluation_instructions {
    margin-bottom: 10;
}

